* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  transition: 0.5s ease-in-out;
}

body {
  font-family: "TT Lakes";
  letter-spacing: -0.4px;
  background-color: rgba(248, 248, 248, 1);
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), local("TT-Lakes-Medium"),
    url("/font/TTLakes-Medium.woff2") format("woff2"),
    url("/font/TTLakes-Medium.woff") format("woff"),
    url("/font/TTLakes-Medium.ttf") format("truetype");
  font-size: 16px;
  line-height: 24px;
}

.header__title {
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(253, 253, 253, 1);
  @media (max-width: 768px) {
    padding-left: 25px;
  }
  @media (max-width: 320px) {
    width: 288px;
    padding-left: 16px;
  }
}

.swiper {
  width: 320px;
  height: 116px;
  padding-left: 30px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1120px;

  @media (max-width: 768px) {
    max-width: 768px;
  }

  @media (max-width: 320px) {
    max-width: 320px;
  }
}

.brands__mini {
  display: none !important;
  @media (min-width: 0) and (max-width: 320px) {
    display: grid !important;
  }
}

.brands__section {
  display: flex;
  @media (min-width: 0) and (max-width: 320px) {
    display: none !important;
    background-color: black;
  }
}
